<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>
<% @current_user = User.find_by({ "id" => session["user_id"] }) %>
<% if @current_user != nil %>
  <% @entries = Entry.where({ "place_id" => @place["id"], "user_id" => @current_user["id"] }) %>
  <% for entry in @entries %>
    <h3><%= entry["title"] %></h3>
    <h4><%= entry["occurred_on"] %></h4>
    <p><%= entry["description"] %></p>
  <% end %>

  <p>
    <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
  </p>
<% end %>

<p>
  <a href="/places">Back to All Places</a>
</p>